body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #FFF029;
}

.mainhead {
    flex-grow: 10;
    background-color: #A48200;
    text-align: center;

}

.heading {
    font-family: "Arial";
}

.mainnav {
    flex-grow: 5;
    background-color: #94BB00;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_link {
    margin: 5px;
    padding: 3px;
    font-family: "arial";
    font-size: larger;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    background-color: #FFF029;
}

.mainrow {
    flex-grow: 80;
    display: flex;
    flex-direction: row;
}
.textbox{
    background-color: #94BB00;
    border-radius: 30px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 3px;
}
.mainmain {
    display: flex;
    margin:25px;
    margin-bottom: 18px;
    margin-left: 5%;
    padding: 20px;
    font-size: larger;
    width: 70%;
    background-color: white;
    background-image: url("../img/banana.png");
    background-size : 60px 40px;
    background-repeat: repeat;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.bananpajs{

}
.pie_container{
    background-color: white;

    margin: 10px;

    border: solid black 1px;

}
.slipsum{
    color: white;
}
p{
    font-size: 0.8em;
    margin-left: 3px;
}
.mainaside {
    margin-right: 25px;
    margin-top:25px;
    margin-bottom:25px;
    width:15%;
    background-color: brown;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    background-image: url("../img/pi.png");
    background-size : 40px 40px;
    background-repeat: repeat;
}

.mainfoot {
    flex-grow: 5;
    background-color: #A48200;
}

h1, h2, h3, h4 {
    margin: 0;
}

